# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
*.iml

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore
key.properties

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flxproj
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Example build outputs
example/.dart_tool/
example/.packages
example/.pub/
example/build/
